a {
    text-decoration: none;
    color: #1565c0;
  }
  
  a:focus,
  a:hover {
    text-decoration: none;
    border-bottom: 1px solid #4b81be;
    text-decoration-color: none;
  }
  
  body,
  td,
  th,
  tr,
  p,
  a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
  }
  
  p {
    color: #77808b;
  }

  .spanp {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #77808b;
  }
  
  strong {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color:#191e3f;
  }
  
  author {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color:#191e3f;
  }
  
  heading {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color:#191e3f;
    font-weight: 500;
  }
  
  papertitle {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color:#191e3f;
  }
  
  name {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color:#191e3f;
    font-weight: 700;
  }
  
  .one {
    width: 160px;
    height: 160px;
    position: relative;
  }
  
  .two {
    width: 160px;
    height: 160px;
    position: absolute;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
  }
  
  .fade {
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
  }
  
  
  hr {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ddd;
  }
  
  span.highlight {
    background-color: #ffffd0;
  }
  
  #header {
    height: 100px;
    border-bottom: 1px solid #ddd;
  }


.shadow-border {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.ppt {
  margin-top: -10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  /* padding: 1px; */
  /* text-indent: 5px; */
  width: 480px;
  background-color: antiquewhite;
  color: brown;
  visibility: hidden;
  height: 0;
}

.hidden {
  display: none;
}